@mixin block-shadow {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
}

.list{
    position: relative;
    margin-top: 100px;
    padding-bottom: 100px;
    &.normal{
        .items{
            margin-top: -120px;
            justify-content: space-between;
            .item{
                .icon{
                    width: 98px;
                    height: 98px;
                    svg{
                        top: 0px;
                        transform: rotate(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .items{
        justify-content: flex-start;
        transition: 0.3s;
        .item{
            background: #fff;
            width: 260px;
            height: 309px;
            padding: 20px 10px 20px 10px;
            border-radius: 6px;
            gap: 20px;
            text-align: center;
            @include block-shadow;
            .icon{
                width: 48px;
                height: 48px;
                padding: 20px;
                border-radius: 77px;
                margin: auto;
                transition: 0.3s;
                overflow: hidden;
                &.yellow{
                    background: rgba(254, 246, 237, 1);
                }
                &.blue{
                    background: rgba(236, 245, 255, 1);
                }
                &.violet{
                    background: rgba(238, 238, 251, 1);
                }
                &.green{
                    background: rgba(235, 251, 245, 1);
                }
                svg{
                    position: relative;
                    top: 30px;
                    transition: 0.3s;
                    transform: rotate(-0.25turn);
                    opacity: 0;
                }
            }
            h3{
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                color: $dark-text-color;
                padding: 22px 0 15px 0;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $light-text-color;
            }
        }
    }
    
}